<% if feed_item.likes.count == 1 %>
    <div class="commenter_counter" style="float:left;">
        <div>
            <%= link_to feed_item.likes.first.user.name, user_path(current_user) %> likes this.
        </div>
    </div>
<% end %>

<% if feed_item.likes.count > 1 %>

    <div id="hover_item_<%=feed_item.id%>" class="fixed" data-remote="true"></div>
    <div class="commenter_counter">
        <div data-remote="true" id="index_<%=feed_item.id%>" data-idd="<%= feed_item.id %>"
                class="hover_over" data-url="<%= url_for(action: 'selected_index', controller: 'likes', pid: feed_item.id) %>">
            <%= image_tag("FB-ThumbsUp_29.png", height: '15', class: "menu_icon") %>&nbsp;<%= pluralize(feed_item.likes.count, 'person') %>
        </div>
        <div style="float:left;">&nbsp;like this</div>
    </div>
<% end %>
