<div class="content_wrapper mbm mbm2 content_wrapper_color">
    <div class="user_content">
        <div id="user_content_<%=post.id %>">
            <div class="clearfix _5x46">
                <div class="gravatar">
                    <%= link_to gravatar_for(post.user, :size => 30), user_path(post.user) %>
                </div>
                <div class="user_name">
                    <%= link_to post.user.name, user_path(post.user) %>
                </div>
            </div>
            <div class="feed_item_content" id="feed_item_content_<%=post.id%>">
                <%= post.content %>
            </div>
            <div class="like_comment_section">
                <div id = "like_form_<%=post.id %>">
                    <%= render partial: 'users/like_unlike_wrapper', locals: {feed_item: post} %>
                </div>
                <%#= link_to 'Comment', add_path(feed_item.id), remote: true %>
            </div>
        </div>
        <div class="comment_section bottom_color" >
            <div id="like_feed_<%=post.id %>" class="like_feed">
                <%= render partial: 'shared/count_likes', locals: {:feed_item => post} %>
                <div class="border"></div>
            </div>
            <div id="comment_feed_<%=post.id %>" >
                <%= render partial: post.comments, locals: {:feed_item => post} %>
            </div>
            <div id="comment_form_<%=post.id %>">
                <%= render partial: 'shared/comment_form', locals: {:feed_item => post} %>
            </div>
        </div>
    </div>
</div>
